.content-area {
	width: 100%;
}

.site-content .widget-area {
	overflow: hidden;
	width: 100%;
}

.site-footer {
	border-top: 1px solid $color__border;
	padding: 2.813em 25px 2em;
	margin: 0 -25px;
	text-align: center;

	a {
		color: $color__text-alt;

		&:hover,
		&:focus {
			color: $color__link-hover;
		}
	}

	.site-info {
		clear: both;
		color: $color__text-alt;
		font-weight: 400;
		@include font-size(0.875);
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-bottom: 0.75em;
	}
}

.entry-meta,
.entry-footer {
	color: $color__text-alt;
	@include font-size(0.875);
	letter-spacing: 2px;
	text-transform: uppercase;

	a {
		color: $color__text-alt;

		@include transition();

		&:hover,
		&:focus {
			color: $color__link-hover;
		}
	}
}

.entry-footer {
	margin: 0 0 1.5em;

	span {
		display: block;
		width: inherit;
		margin-bottom: 1em;

		a {
			@include transition();

			&:hover,
			&:focus {
				color: $color__link-hover;
			}
		}
	}

	.tags-links {
		display: block;
		width: 100%;
		margin-top: 1.5em;

		@include font-size(0.875);

		a {
			border: 1px solid $color__border;
			color: $color__link;
			display: inline-block;
			font-size: inherit !important;
			letter-spacing: 2px;
			margin: 0 0.875em 0.714em 0;
			max-width: 100%;
			padding: 0.313em 0.625em;
			word-wrap: break-word;
			text-transform: uppercase;

			@include transition();

			&:hover,
			&:focus {
				border-color: $color__link;
			}
		}
	}
}

body:not(.comment-hidden) .entry-footer .comments-link {
	overflow: visible !important;
}
