.site-header {
	padding-bottom: 2.313em;
}

.site-title {
	margin: 0;
	line-height: 1;
	width: auto;

	a {
		color: $color__link;
		font-family: $font__main;
		font-weight: 700;
		@include font-size(2.250);

		@include transition(0.3s);

		&:hover,
		&:active,
		&:focus {
			color: $color__link-alt;
		}
	}
}

.custom-logo-link {
	margin-bottom: 1.417em;
	width: auto;
	width: 100%;
	display: block;

	img {
		max-width: 100%;
		display: inline-block;
		max-height: 100px;
		width: auto;
		height: auto;
	}
}

.site-description {
	color: $color__link-alt;
	font-family: $font__main;
	@include font-size(1.5);

	&:last-child {
		margin: 0.5em auto 0;
	}
}

.has-custom-header .site-content .featured-image-header {
	margin-bottom: 2.167em;

	img {
		border-radius: 3px;
	}
}

.tax-jetpack-portfolio-type.has-custom-header,
.tax-jetpack-portfolio-tag.has-custom-header {
	.site-content .featured-image-header {
		margin-bottom: 2.292em;
	}
}