.site-header {
	padding-bottom: 2.313em;
}

.site-branding {
	margin-bottom: 1em;
}

.site-title {
	margin: 0;
	line-height: 1;
	width: auto;

	a {
		color: $color__link;
		font-family: $font__main;
		font-weight: 700;
		@include font-size(2.250);

		@include transition(0.3s);

		&:hover,
		&:active,
		&:focus {
			color: $color__link-alt;
		}
	}
}

.site-description,
p.site-description {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1.125);
	margin: 1em auto 0;
}

.custom-logo {
	@include transition(0.3s);

	&:hover {
		opacity: 0.7;
	}
}

.custom-logo-link {
	width: auto;
	width: 100%;
	display: block;
	margin-bottom: 2.313em;

	img {
		max-width: 100%;
		display: block;
	}
}

.has-custom-header .site-content .featured-image-header {
	margin-bottom: 2.167em;

	img {
		border-radius: 3px;
	}
}

.tax-jetpack-portfolio-type.has-custom-header,
.tax-jetpack-portfolio-tag.has-custom-header {
	.site-content .featured-image-header {
		margin-bottom: 2.292em;
	}
}
