.site-header {
	padding-bottom: 2.313em;
}

.branding-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
}

.site-branding {
	flex: 1 1 auto;
	margin-bottom: 1.417em;

	.site-title {
		margin: 0;
		line-height: 1;

		a {
			color: $color__link;
			font-family: $font__main;
			font-weight: 700;
			@include font-size(2.250);

			@include transition(0.3s);

			&:hover,
			&:active,
			&:focus {
				color: $color__link-alt;
			}
		}
	}
}

.site-description {
	color: $color__link-alt;
	font-family: $font__main;
	@include font-size(1.5);
	margin: 0.5em auto 0;
}

.has-custom-header .site-content .featured-image-header {
	margin-bottom: 4.688em;

	img {
		border-radius: 3px;
	}
}
