.site {
	background: $color__background-body;
	margin: 50px auto;
	max-width: 1100px;
	padding: 50px 50px 0;
}

.site-content {
	margin: 0 -50px;
	padding: 0 50px;

	body:not(.has-custom-header) & {
		border-top: 1px solid $color__border;
		padding-top: 6.250em;
	}
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
## Content Sidebar
--------------------------------------------------------------*/
@import "content-sidebar";
