.site {
	background: $color__background-body;
	margin: 0 auto;
	max-width: 1100px;
	padding: 25px 25px 0;
}

.site-content {
	margin: 0 -25px;
	padding: 0 25px;

	body:not(.has-custom-header):not(.has-cards) & {
		border-top: 1px solid $color__border;
		padding-top: 3.25em;
	}
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
## Content Sidebar
--------------------------------------------------------------*/
@import "content-sidebar";
