/**
 * >= 600px
 */

@media screen and ( min-width: 37.5em ) {

	.site-branding {
		max-width: 100%;
	}

	.main-navigation {
		width: auto;
		flex: 1 1 auto;
		position: relative;

		.menu-toggle {
			display: none;
		}

		&.toggled ul {
			display: flex;
		}

		ul {
			border: 0;
			padding: 0;
			margin: 0;
			clear: none;
			display: flex;
			width: auto;
			justify-content: flex-end;
			flex-wrap: wrap;

			li {
				margin-left: 3em;
				padding-top: 7px;
				padding-bottom: 7px;
			}
		}
	}
}