/**
 * >= 400px
 */

@media screen and ( min-width: 25em ) {

	.has-cards {
		.showcase-item {
			width: 45%;
			margin-right: 10%;

			&:nth-of-type(2n) {
				margin-right: 0;
			}

			&:nth-of-type(2n+1) {
				clear: both;
			}
		}

		.entry-card {
			width: 45%;

			&:nth-of-type(2n) {
				margin-right: 10%;
				clear: both;
			}
		}

		&.has-portfolio-archive-featured-image {
			.entry-card {
				margin-right: 10%;

				&:nth-of-type(2n) {
					margin-right: 0;
					clear: none;
				}

				&:nth-of-type(2n+1) {
					clear: both;
				}
			}
		}

		.entry-card-featured {
			width: 100%;

			.entry-title {
				font-size: 1.5em;
				margin-bottom: 0.292em;
			}

			.post-thumbnail {
				a {
					&.placeholder:before {
						padding-top: 50%;
					}
				}
			}
		}
	}
}

/**
 * >= 600px
 */

@media screen and ( min-width: 37.5em ) {

	.site {
		margin: 50px auto;
		padding: 50px 50px 0;
	}

	.branding-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
		margin: 0 auto;
		max-width: 1000px;
		position: relative;
	}

	.site-branding {
		flex: 1 1 auto;
		width: auto;
		padding-right: 2em;
	}

	.main-navigation {
		border-radius: 0;
		width: auto;
		max-width: 100%;
		overflow: inherit;

		.js & ul,
		.js & ul ul,
		.js & > div > ul {
			display: block;
		}

		ul {
			background: transparent;
			padding: 0;

			& .menu-item-has-children > a > .icon,
			& .page_item_has_children > a > .icon {
				@include font-size(0.5);
				top: 0;
			}

			ul {
				background: $color__background-canvas;
				left: -999em;
				position: absolute;
				top: 100%;
				text-align: left;
				padding: 0;
				z-index: 99999;

				ul {
					left: -999em;
					margin-top: -1px;
					top: 0;
				}

				li {
					a {
						padding: 0.750em;
					}

					&.menu-item-has-children a {
						padding-right: 1.5em;
					}

					&:not(.menu-item-has-children) a {
						padding-right: 0.750em;
					}

					&:hover > ul,
					&.focus > ul {
						left: 100%;
						right: auto;
					}

					&.menu-item-has-children.focus:before,
					&.menu-item-has-children:hover:before,
					&.menu-item-has-children.focus:after,
					&.menu-item-has-children:hover:after,
					&.page_item_has_children.focus:before,
					&.page_item_has_children:hover:before,
					&.page_item_has_children.focus:after,
					&.page_item_has_children:hover:after {
						display: none;
					}
				}

				a {
					margin-right: 0;
					width: 14em;
				}

				& .menu-item-has-children > a > .icon,
				& .page_item_has_children > a > .icon {
					left: auto;
					margin-top: -0.5em;
					position: absolute;
					top: 50%;
					right: 5px;
					transform: rotate(-90deg);
				}
			}

			li {
				&.menu-item-has-children a {
					padding-right: 0.750em;
				}

				&.menu-item-has-children.focus:before,
				&.menu-item-has-children:hover:before,
				&.menu-item-has-children.focus:after,
				&.menu-item-has-children:hover:after,
				&.page_item_has_children.focus:before,
				&.page_item_has_children:hover:before,
				&.page_item_has_children.focus:after,
				&.page_item_has_children:hover:after {
					display: block;
				}

				&.menu-item-has-children:before,
				&.page_item_has_children:before {
					border-color: transparent transparent $color__border-button;
					bottom: 0;
				}

				&.menu-item-has-children:after,
				&.page_item_has_children:after {
					border-color: transparent transparent $color__background-button;
				}

				&:hover > ul,
				&.focus > ul {
					right: auto;
				}
			}
		}

		& > div > ul {
			border: 0;
			margin-bottom: 0;
			padding: 0;
		}

		li {
			border: 0;
			display: inline-block;

			li {
				border: 0;
				display: block;

				&.focus > a,
				&:focus > a,
				&:hover > a,
				& a:hover,
				& a:focus,
				&.current_page_item a:hover,
				&.current-menu-item a:hover,
				&.current_page_item a:focus,
				&.current-menu-item a:focus {
					color: $color__background-button;
				}
			}

			&:last-of-type a {
				margin-right: 0;
			}
		}

		a {
			padding: 0.75em 0;
			margin-right: 0.5em;
		}

		.menu-item-has-children > a,
		.page_item_has_children > a {
			& > .icon {
				display: inline;
				left: 4px;
				top: 5px;
				position: relative;
			}
		}
	}

	.menu-toggle,
	.js .menu-toggle,
	.js .dropdown-toggle {
		display: none;
	}

	.site-content {
		margin: 0 -50px;
		padding: 0 50px;

		body:not(.has-custom-header) & {
			padding-top: 5em;
		}
	}

	.site-main {
		margin: 0 ( $size__site-sidebar + 5% ) 0 0;
	}

	.content-area {
		float: left;
		margin: 0 (-$size__site-sidebar - 5%) 0 0;
		width: $size__site-main;
	}

	.no-sidebar:not(.has-cards),
	.error404,
	.no-results {
		.content-area {
			float: none;
			margin-left: auto;
			margin-right: auto;
			width: 65%;
		}

		.site-main {
			margin-right: 0;
		}
	}

	.tags-hidden {
		.entry-footer {
			.edit-link {
				&:after {
					content: "";
					padding: 0;
				}
			}
		}
	}

	.comment-hidden:not(.logged-in) {
		.entry-footer {
			.cat-links {
				&:after {
					content: "";
					padding: 0;
				}
			}
		}
	}

	body:not(.logged-in),
	.wp-customizer {
		.entry-footer {
			.comments-link {
				&:after {
					content: "";
					padding: 0;
				}
			}
		}
	}

	.entry-footer {
		span {
			display: inline-block;
			width: auto;
			margin: 0;

			&:after {
				content: "|";
				color: $color__text-alt;
				padding: 0 6px;
			}

			&:last-of-type:after {
				content: "";
				padding: 0;
			}

			&.cat-links {
				display: inline;
			}
		}
	}

	.entry-author {
		margin: 5.625em 0 0;
	}

	.posts-navigation,
	.comment-navigation,
	.post-navigation {
		.nav-previous {
			width: 45%;
			margin-bottom: 0;
		}

		.nav-next {
			width: 45%;
		}
	}

	.site-content .widget-area {
		float: right;
		overflow: hidden;
		width: $size__site-sidebar;
	}

	.comments-area {
		margin: 6.25em 0 0;

		li > ul, li > ol {
			margin-bottom: 0;
			margin-left: 1.5em;
		}

		.comment-list {
			.children {
				margin-left: 2.5em;
			}
		}
	}

	.site-footer {
		text-align: left;
		padding: 2.813em 50px 2em;
		margin: 0 -50px;

		.site-info {
			display: inline-block;
		}
	}

	.social-links {
		clear: none;
		float: right;
		max-width: 30%;
		text-align: right;
	}

	.has-cards {
		.site-main {
			margin-left: 0;
			margin-right: 0;
		}

		.content-area {
			float: none;
			margin-left: 0;
			margin-right: 0;
			width: 100%;
		}

		.entry-card {
			width: 30%;

			&:nth-of-type(2n) {
				margin-right: 0;
				clear: none;
			}

			&:nth-of-type(3n),
			&:nth-of-type(3n + 2) {
				margin-right: 5%;
			}

			&:nth-of-type(3n+5) {
				clear: both;
			}
		}

		&.has-portfolio-archive-featured-image {
			.entry-card {
				width: 30%;
				margin-right: 5%;

				&:nth-of-type(2n) {
					margin-right: 5%;
				}

				&:nth-of-type(2n+1) {
					clear: none;
				}

				&:nth-of-type(3n) {
					margin-right: 0;
				}

				&:nth-of-type(3n+1) {
					clear: both;
				}
			}
		}

		.showcase-item {
			width: 30%;
			margin-right: 5%;

			&:nth-of-type(2n) {
				margin-right: 5%;
			}

			&:nth-of-type(2n+1) {
				clear: none;
			}

			&:nth-of-type(3n) {
				margin-right: 0;
			}

			&:nth-of-type(3n+1) {
				clear: both;
			}
		}

		.no-showcase-items {
			float: none;
			margin-left: auto;
			margin-right: auto;
			width: 65%;
		}

		.entry-card-featured {
			width: 100%;
		}

		.no-showcase-items {
			margin-bottom: 6em;
		}
	}
}
