/**
 * <= 600px
 */

@media screen and ( max-width: 37.5em ) {
	.has-cards {
		.entry-card {
			width: 45%;

			&:nth-of-type(2n) {
				margin-right: 5%;
				clear: both;
			}
		}

		.entry-card-featured {
			width: 100%;
		}
	}
}

/**
 * >= 600px
 */

@media screen and ( min-width: 37.5em ) {

	.site-description {
		&:last-child {
			margin: 0.25em auto 0;
		}
	}

	.branding-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
		margin: 0 auto;
		max-width: 1000px;
		position: relative;
	}

	.site-branding {
		flex: 1 1 auto;
		margin-top: 0.25em;
		margin-bottom: 1.75em;
		width: auto;
	}

	.js .menu-toggle,
	.js .dropdown-toggle {
		display: none;
	}

	.main-navigation {
		width: auto;
		flex: 1 1 auto;
		max-width: 100%;
		margin-bottom: 0.75em;

		.js & ul,
		.js & ul ul,
		.js & > div > ul {
			display: block;
		}

		ul {
			background: transparent;
			padding: 0;
			text-align: right;

			& .menu-item-has-children > a > .icon,
			& .page_item_has_children > a > .icon {
				@include font-size(0.5);
				top: 0;
			}

			ul {
				background: $color__background-button;
				border: 1px solid $color__border-button;
				left: -999em;
				position: absolute;
				top: 100%;
				text-align: left;
				padding: 0;
				z-index: 99999;

				ul {
					left: -999em;
					margin-top: -1px;
					top: 0;
				}

				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
						right: auto;
					}

					&.menu-item-has-children.focus:before,
					&.menu-item-has-children:hover:before,
					&.menu-item-has-children.focus:after,
					&.menu-item-has-children:hover:after,
					&.page_item_has_children.focus:before,
					&.page_item_has_children:hover:before,
					&.page_item_has_children.focus:after,
					&.page_item_has_children:hover:after {
						display: none;
					}
				}

				a {
					padding: 0.75em 1.25em;
					width: 14em;
				}

				& .menu-item-has-children > a,
				& .page_item_has_children > a {
					padding: 0.75em 2em 0.75em 1.25em;
				}

				& .menu-item-has-children > a > .icon,
				& .page_item_has_children > a > .icon {
					left: auto;
					margin-top: -0.5em;
					position: absolute;
					top: 50%;
					right: 5px;
					transform: rotate(-90deg);
				}
			}

			li {
				&.menu-item-has-children:before,
				&.menu-item-has-children:after,
				&.page_item_has_children:before,
				&.page_item_has_children:after {
					border-style: solid;
					border-width: 0 6px 6px;
					content: "";
					display: none;
					height: 0;
					position: absolute;
					right: 0.85em;
					bottom: -1px;
					width: 0;
					z-index: 100000;
				}

				&.menu-item-has-children.focus:before,
				&.menu-item-has-children:hover:before,
				&.menu-item-has-children.focus:after,
				&.menu-item-has-children:hover:after,
				&.page_item_has_children.focus:before,
				&.page_item_has_children:hover:before,
				&.page_item_has_children.focus:after,
				&.page_item_has_children:hover:after {
					display: block;
				}

				&.menu-item-has-children:before,
				&.page_item_has_children:before {
					border-color: transparent transparent $color__border-button;
					bottom: 0;
				}

				&.menu-item-has-children:after,
				&.page_item_has_children:after {
					border-color: transparent transparent $color__background-button;
				}

				&:hover > ul,
				&.focus > ul {
					right: auto;
				}
			}
		}

		& > div > ul {
			border: 0;
			margin-bottom: 0;
			padding: 0;
		}

		li {
			border: 0;
			display: inline-block;

			li {
				border: 0;
				display: block;

				&.focus > a,
				&:focus > a,
				&:hover > a,
				& a:hover,
				& a:focus,
				&.current_page_item a:hover,
				&.current-menu-item a:hover,
				&.current_page_item a:focus,
				&.current-menu-item a:focus {
					color: $color__link-hover;
				}
			}
		}

		a {
			padding: 0.75em 1.25em;
		}

		.menu-item-has-children a,
		.page_item_has_children a {
			padding: 0.75em 1.25em;
		}

		& .menu-item-has-children > a,
		& .page_item_has_children > a {
			& > .icon {
				display: inline;
				left: 4px;
				top: 5px;
				position: relative;
			}
		}
	}

	.menu-toggle {
		display: none;
	}

	.social-links {
		clear: none;
		float: right;
		max-width: 30%;
		text-align: right;
	}

	.content-area {
		float: left;
		margin: 0 (-$size__site-sidebar - 5%) 0 0;
		width: $size__site-main;
	}

	.no-sidebar:not(.has-cards),
	.error404,
	.no-results,
	.page-template-portfolio-page:not(.has-cards) {
		.content-area,
		.post-thumbnail {
			float: none;
			margin-left: auto;
			margin-right: auto;
			width: 65%;
		}

		.site-main {
			margin-right: 0;
		}
	}

	.site-main {
		margin: 0 ( $size__site-sidebar + 5% ) 0 0;
	}

	.has-cards {
		.site-main {
			margin: 0;
		}

		.content-area {
			float: none;
			margin-left: 0;
			margin-right: 0;
			width: 100%;
		}

		.entry-card {
			width: 30%;

			&:nth-of-type(3n),
			&:nth-of-type(3n + 2) {
				margin-right: 5%;
			}

			&:nth-of-type(3n+5) {
				clear: both;
			}
		}

		.homepage-feature {
			width: 30%;
			margin-right: 5%;

			&:nth-child(2n) {
				margin-right: 5%;
			}

			&:nth-child(2n+1) {
				clear: none;
			}

			&:nth-child(3n) {
				margin-right: 0;
			}

			&:nth-child(3n+1) {
				clear: both;
			}
		}

		.no-homepage-features {
			float: none;
			margin-left: auto;
			margin-right: auto;
			width: 65%;
		}

		.entry-card-featured {
			width: 100%;
		}
	}

	.site-content .widget-area {
		float: right;
		overflow: hidden;
		width: $size__site-sidebar;
	}

	.comment-navigation,
	.posts-navigation,
	.post-navigation {
		.nav-previous {
			width: 45%;
		}

		.nav-next {
			width: 45%;
		}
	}

	.site-footer {
		text-align: left;

		.site-info {
			display: inline-block;
		}
	}
}