button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 3px solid $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	box-shadow: none;
	color: $color__link-alt;
	@include font-size(1);
	line-height: 1;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 0.625em 0.875em;
	text-shadow: none;

	@include transition(0.3s);

	&:hover {
		border-color: $color__border-button-hover;
		color: $color__link;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		color: $color__link;
	}
}