input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 8px 10px;

	&:focus {
		color: $color__text-input-focus;
		border-color: $color__border-input-focus;
		box-shadow: none;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

.search-form {
	display: flex;
	width: 100%;

	.search-field {
		box-sizing: border-box;
		width: 100%;
	}

	label {
		flex: 1 1 0;
		margin-right: 10px;
	}

	.search-submit {
		display: inline-block;
		position: relative;
	}

	.error404 .page-content & {
		margin-bottom: 2em;
	}
}
