p {
	margin: 0 0 1.5em;
	padding: 0;

	&:last-child {
		margin-bottom: 0;
	}
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border-left: 4px solid $color__border;
	color: $color__link-alt;
	font-style: italic;
	@include font-size(1.250);
	margin: 0 0 1.5em;
	padding: 0 0 0 1.5em;

	p,
	p:last-of-type {
		margin-bottom: 1.5em;
	}

	& > *:last-child {
		margin-bottom: 0;
	}

	cite,
	small {
		@include font-size(1);
	}

	em,
	i,
	cite {
		font-style: normal;
	}

	strong,
	b {
		font-weight: 700;
	}
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;

	&:before,
	&:after {
		content: "";
	}
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr,
acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark,
ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}
