.widget {
	margin: 0 0 2em;
	overflow: hidden;
	position: relative;
	width: 100%;

	.widget-title {
		color: $color__link-alt;
		font-weight: 400;
		@include font-size(1);
		letter-spacing: 2px;
		max-width: 100%;
		text-transform: uppercase;
		word-wrap: break-word;
	}

	ul,
	ol {
		margin: 0;
	}

	li {
		border-top: 1px solid $color__border-button;
		margin: 0;
		max-width: 100%;
		word-wrap: break-word;

		a,
		span {
			padding-bottom: 0.563em;
			padding-top: 0.5em;
			display: inline-block;
			vertical-align: middle;

			a,
			span {
				padding: 0;
			}
		}
	}

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	table {
		margin-bottom: 0;
	}

	a:hover,
	a:focus {
		color: $color__text-main;
	}

	.sub-menu {
		padding: 0 0 0 1.5em;
	}

	&.widget_text p {
	    margin: 0 0 1em;
	}

	&.widget_tag_cloud,
	.tags-links,
	.tagcloud {
		@include font-size(0.875);

		a {
			border: 1px solid $color__border;
			color: $color__link;
			display: inline-block;
			font-size: inherit !important;
			letter-spacing: 2px;
			margin: 0 0.875em 0.714em 0;
			max-width: 100%;
			padding: 0.313em 0.625em;
			word-wrap: break-word;
			text-transform: uppercase;

			@include transition();

			&:hover,
			&:focus {
				border-color: $color__link;
			}
		}
	}

	&.widget_calendar table td {
		text-align: center;
	}

	&.widget_nav_menu {
		li svg {
			display: none;
		}
	}

	&.jetpack_subscription_widget {
		#subscribe-text {
			margin-top: 1em;
		}

		#subscribe-email {
			margin: 1em 0;
		}
	}

	&.widget_goodreads {
		div[class^="gr_custom_container"] {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

		div[class^="gr_custom_each_container"] {
			border-bottom: 1px solid $color__border-button;
			margin-bottom: 1em;
			padding-bottom: 0.563em;
			padding-top: 0.5em;
		}
	}

	&.widget_jetpack_display_posts_widget {
		.jetpack-display-remote-posts p {
			margin-bottom: inherit !important;
		}
	}

	&.widget_rss li {
		padding: 2em 0;

		&:first-child {
			border: 0;
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
		}

		a,
		span {
			padding: 0;
		}
	}
}
