$color__background-canvas: #f7f7f7;
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #fff;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #2C55E2;
$color__link-visited: #2C55E2;
$color__link-hover: #2C55E2;
$color__link-alt: #999999;
$color__text-main: #444444;
$color__text-alt: #ccc;

$color__border: #f7f7f7;
$color__border-button: #eee;
$color__border-button-hover: #2C55E2;
$color__border-button-focus: #2C55E2;
$color__border-input: #ccc;
$color__border-abbr: #666;
