.main-navigation {
	clear: both;
	display: block;
	width: 100%;

	ul {
		background: $color__background-button;
		list-style: none;
		margin: 0;
		text-align: left;
		margin-bottom: 1em;

		ul {
			padding: 0 0 0 1.5em;
			border-top: 1px solid $color__border-button;
			margin-bottom: 0;

			&.toggled-on {
				display: block;
			}

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				position: relative;
			}
		}

		li {
			li {
				border-bottom: 1px solid $color__border-button;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		border-bottom: 1px solid $color__border;
		position: relative;
		text-transform: uppercase;
		letter-spacing: 2px;
		word-wrap: break-word;

		&:last-child {
			border: 0;
		}
	}

	a {
		color: $color__link-alt;
		display: block;
		padding: 0.75em 0;
		text-decoration: none;

		@include transition(0.1s);

		&:hover {
			color: $color__link-hover;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__link-hover;
	}

	.menu-item-has-children a,
	.page_item_has_children a {
		padding: 0.75em 2em 0.75em 0;
	}

	/* Hide the menu on small screens when JavaScript is available.
	 * It only works with JavaScript.
	 */
	.js & ul,
	& .menu-item-has-children > a > .icon,
	& .page_item_has_children > a > .icon,
	& ul a > .icon {
		display: none;
	}

	& > div > ul {
		border-top: 1px solid $color__border;
	}

	.js &.toggled-on > div > ul {
		display: block;
	}
}

/* Menu toggle */
.menu-toggle {
	float: left;
	margin: 1.5em 0;
	width: 100%;
    border: 3px solid $color__border-button;
    clear: none;
    display: block;
    padding: 0.75em;
    height: 2.75em;
    position: relative;

	&:hover,
	&:focus {
		background-color: transparent;
		box-shadow: none;
	}

	&:focus {
		outline: thin solid;
	}

	.icon {
		margin-right: 0.5em;
		top: -2px;
	}

	&.toggled-on .icon-bars,
	& .icon-close {
		display: none;
	}

	&.toggled-on .icon-close {
		display: inline-block;
	}
}

/* Dropdown Toggle */
.dropdown-toggle {
	background-color: transparent;
	border: 0 none;
	box-shadow: none;
	display: inline-block;
	@include font-size(1);
	margin: 0 auto;
	padding: 0.5em;
	line-height: 1.75;
	position: absolute;
	right: -0.5em;
	text-shadow: none;
	top: 0;

	&:hover,
	&:focus {
		background: transparent;
	}

	&:focus {
		outline: thin dotted;
	}

	&.toggled-on .icon {
		transform: rotate(-180deg);
	}

	& .icon {
		@include font-size(1);
		height: 1em;
		width: 1em;
		vertical-align: bottom;
	}

	&.toggled-on .icon {
		vertical-align: baseline;
	}

	.no-js & {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	border-top: 1px solid $color__border;
	font-weight: 700;
	@include font-size(0.875);
	letter-spacing: 2px;
	margin: 0 -50px;
	overflow: hidden;
	padding: 1.375em 50px 0;
	text-transform: uppercase;
	width: auto;

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 100%;
		margin-bottom: 1.5em;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 100%;
		margin-bottom: 1.5em;
	}

	a:hover,
	a:focus {
		color: $color__text-main;

		@include transition(0.3s);
	}
}

.comment-navigation {
	border: 0;
	padding-left: 0;
	padding-right: 0;
}

.nav-subtitle {
	color: $color__link-alt;
	display: block;
	@include font-size(0.875);
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/* Social Menu. */
.social-links {
	.jetpack-social-navigation {
		ul {
			margin-bottom: 0.750em;
		}

		li {
			padding: 0 2px 6px;
		}

		a:hover,
		a:focus {
			color: $color__link-hover;

			@include transition(0.1s);
		}

		.icon {
			@include font-size(1.5);
			fill: currentcolor;
			height: 1em;
			width: 1em;
		}
	}
}
