.main-navigation {
	display: block;
	float: left;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	width: 100%;
	clear: both;

	ul {
		clear: both;
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			margin: 0;
			padding: 0 0.438em;

			li {
				margin: 0;

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}

				a {
					padding-left: 0.875em;
				}
			}

			ul {
				left: -999em;
				top: 0;
				padding: 0;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
    	display: block;
		position: relative;
		margin: 0;
		padding: 0;
		max-width: 100%;
		word-wrap: break-word;

		&:hover > a,
		&.focus > a {
			color: $color__link-hover;

			@include transition();
		}
	}

	a {
		border-bottom: 1px solid $color__border-button;
		color: $color__link-alt;
		display: block;
		text-decoration: none;
		padding-top: 0.875em;
		padding-bottom: 0.813em;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	border-top: 1px solid $color__border;
	font-weight: 700;
	@include font-size(0.875);
	letter-spacing: 2px;
	margin: 0 -50px;
	overflow: hidden;
	padding: 1.375em 50px;
	text-transform: uppercase;
	width: auto;

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* Social Menu. */
.social-links {
	.jetpack-social-navigation {
		ul {
			margin-bottom: 0.750em;
		}

		li {
			padding: 0 2px 6px;
		}

		a:hover,
		a:focus {
			color: $color__link-hover;

			@include transition(0.3s);
		}

		.icon {
			@include font-size(1.5);
			fill: currentcolor;
			height: 1em;
			width: 1em;
		}
	}
}
