.comments-area {
	border-top: 1px solid $color__border-button;
	margin: 6em 0 0;
	padding-top: 2em;

	a {
		&:hover,
		&:active {
			color: $color__text-main;
		}
	}

	.comment,
	.pingback {
		margin-bottom: 2.500em;
	}
}

.comment-list {
	margin-left: 0;

	&,
	.children {
		list-style: none;

		.edit-link {
			margin-left: 1em;
		}
	}

	.children {
		margin-top: 2.500em;
	}
}

.comments-title {
	margin-bottom: 2.500em;
}

.comments-title,
.comment-respond h3 {
	@include font-size(1.250);
}

.comment-body {
	.reply {
		margin-top: 0.75em;
	}
}

.comment-form {
	label {
		display: block;
	}

	input {
		max-width: 100%;
	}
}

.comment-reply-link {
	@include font-size(0.875);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
}

.comment-content {
	margin-top: 1.125em;

	p {
		margin: 0 0 1.5em;

		&:last-child {
		    margin-bottom: 0;
		}
	}

	a {
		word-wrap: break-word;
	}
}

.comment-meta {
	overflow: hidden;

	.comment-author {
		color: $color__text-main;
		@include font-size(0.875);
		text-transform: uppercase;
		letter-spacing: 2px;

		.avatar {
			border-radius: 3px;
			float: left;
			margin-right: 1.563em;
		}

		.fn {
			display: inline-block;
			padding-top: 0.5em;
		}
	}
}

.bypostauthor {
	display: block;

	.avatar {
		border: 2px solid $color__link;
	}
}

.comment-metadata {
	a,
	.edit-link {
		color: $color__text-alt;
		@include font-size(0.875);
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}