.entry-title a {
	color: $color__link-alt;
	font-weight: 400;
}

.entry-content {
	@include font-size(1.125);

	a {
		font-weight: 700;
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 5em;
}

.updated:not(.published){
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}