.hfeed .hentry {
	margin-bottom: 5.062em;

	&:last-of-type {
		margin-bottom: 5.625em;
	}
}

.entry-title,
.page-title {
	max-width: 100%;
	word-wrap: break-word;
	margin-top: 0;
	margin-bottom: 1em;
	@include font-size(1.5);

	a {
		color: $color__link-alt;
		font-weight: 400;

		@include transition();

		&:hover,
		&:focus {
			color: $color__link-hover;
		}
	}
}

.page-title {
	margin-bottom: 1.35em;

	.hfeed & {
		color: $color__text-main;
		font-family: $font__secondary;
		font-weight: 700;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

.has-cards {
	.entry-card {
		float: left;
		text-align: center;
		margin-bottom: 0.938em;

		&:first-of-type {
			.entry-title {
				font-size: 1.5em;
				margin-top: 0.583em;
				margin-bottom: 0.292em;
			}
		}

		.entry-title {
			font-family: $font__secondary;
			text-transform: uppercase;
			@include font-size(1);
			letter-spacing: 2px;
			padding: 0.813em 0;
		}

		.entry-thumbnail,
		.post-thumbnail {
			margin-bottom: 0;

			img {
				border-radius: 3px;

				@include transition(0.3s);

				&:hover {
					opacity: 0.7;
				}
			}
		}
	}

	.entry-card-featured {
		width: 100%;
	}

	.page-title {
		text-align: center;
		margin-bottom: 2em;
	}

	.no-homepage-features {
		margin-bottom: 6em;
	}
}

.entry-content,
.entry-summary {
	@include font-size(1.125);

	a {
		font-weight: 700;
	}

	.more-link {
		display: block;
		margin: 1.5em 0;
		color: $color__link-alt;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2px;
		@include font-size(1);

		&:hover {
			color: $color__link-hover;
		}
	}
}

.sticky {
	display: block;
}

.updated:not(.published){
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post-thumbnail {
	margin-bottom: 1em;

	@include transition(0.3s);

	.page & {
		margin-bottom: 3.750em;
	}

	img {
		border-radius: 3px;

		@include transition(0.3s);

		&:hover {
			opacity: 0.7;
		}
	}
}

.entry-author {
	border: 1px solid $color__border-button;
	border-radius: 3px;
	overflow: hidden;
	padding: 1.5em;
	margin: 5em 0 0;

	.author-avatar {
		width: 16%;
		float: right;
		margin-left: 4%;

		.avatar {
			border-radius: 3px;
			float: right;
		}
	}

	.author-heading {
		clear: none;
		margin: 0 0 1em;
		width: 80%;
	}

	.author-title {
		text-align: left;
		margin: 0;
		clear: none;
		color: $color__text-main;
		font-family: $font__secondary;
		@include font-size(0.875);
		text-transform: uppercase;
		letter-spacing: 2px;

		.author-name {
			color: $color__link-alt;
			@include font-size(1.5);
			text-transform: capitalize;
			display: block;
			letter-spacing: 0px;
		}
	}

	.author-bio {
		margin-bottom: 0;
		overflow: hidden;
		width: 80%;
	}

	.author-link {
		display: block;
		margin-top: 1em;
		font-weight: 700;

		&:hover {
			color: $color__text-main;
		}
	}

	.author-description {
		> :last-child {
			margin-bottom: 0;
		}
	}
}
