.entry-title {
	max-width: 100%;
	word-wrap: break-word;
	margin-top: 0;

	a {
		color: $color__link-alt;
		font-weight: 400;

		@include transition();

		&:hover,
		&:focus {
			color: $color__link-hover;
		}
	}
}

.entry-content,
.entry-summary {
	@include font-size(1.125);

	a {
		font-weight: 700;
	}

	.more-link {
		text-transform: uppercase;
		font-weight: 400;
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 5em;
}

.updated:not(.published){
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post-thumbnail {
	@include transition(0.3s);

	.page & {
		margin-bottom: 3.750em;
	}

	img {
		@include transition(0.3s);

		&:hover {
			opacity: 0.7;
		}
	}
}
