body {
	.site-main {
		margin-bottom: 2.5em;
		overflow: hidden;
	}
}

.hfeed:not(.has-cards) .hentry {
	margin-bottom: 5.062em;

	&:last-of-type {
		margin-bottom: 5.625em;
	}
}

.sticky {
	display: block;
}

.page-header {
	border-bottom: 1px solid $color__border-button;
	margin-bottom: 2em;
}

.entry-title,
.page-title {
	max-width: 100%;
	word-wrap: break-word;
	margin-top: 0;
	margin-bottom: 0.2em;
	@include font-size(1.5);

	a {
		color: $color__link-alt;
		font-weight: 400;

		@include transition();

		&:hover,
		&:focus {
			color: $color__link-hover;
		}
	}
}

.page-title {
	margin-bottom: 1.35em;

	.hfeed & {
		color: $color__text-main;
		font-family: $font__secondary;
		font-weight: 700;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

.archive-description {
	margin-bottom: 2em;
}

.entry-content,
.entry-summary {
	@include font-size(1.125);

	a {
		font-weight: 700;

		&:hover,
		&:focus {
			color: $color__text-main;
		}
	}

	.more-link {
		display: block;
		margin: 1.5em 0;
		color: $color__link-alt;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2px;
		@include font-size(1);

		&:hover {
			color: $color__link-hover;
		}
	}
}

.entry-meta,
.entry-footer {
	color: $color__text-alt;
	@include font-size(0.875);
	letter-spacing: 2px;
	text-transform: uppercase;

	a {
		color: $color__text-alt;

		@include transition();

		&:hover,
		&:focus {
			color: $color__link-hover;
		}
	}
}

.entry-footer {
	margin: 0 0 1.5em;

	span {
		display: block;
		width: inherit;
		margin-bottom: 1em;

		a {
			@include transition();

			&:hover,
			&:focus {
				color: $color__link-hover;
			}
		}
	}

	.tags-links {
		display: block;
		width: 100%;
		margin-top: 1.5em;

		@include font-size(0.875);

		a {
			border: 1px solid $color__border;
			color: $color__link;
			display: inline-block;
			font-size: inherit !important;
			letter-spacing: 2px;
			margin: 0 0.875em 0.714em 0;
			max-width: 100%;
			padding: 0.313em 0.625em;
			word-wrap: break-word;
			text-transform: uppercase;

			@include transition();

			&:hover,
			&:focus {
				border-color: $color__link;
			}
		}
	}
}

body:not(.comment-hidden) .entry-footer .comments-link {
	overflow: visible !important;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;

	a {
		display: inline-block;
	}

	.page-number {
		display: inline-block;
		padding: 0 0.25em;
		margin: 0 0.2em 0.2em 0.2em;
	}
}

.post-thumbnail {
	margin-top: 1.5em;
	margin-bottom: 1em;

	@include transition(0.3s);

	.page & {
		margin-bottom: 3.750em;
	}

	img {
		border-radius: 3px;
		display: block;

		@include transition(0.3s);

		&:hover {
			opacity: 0.7;
		}
	}
}

.entry-author {
	border: 1px solid $color__border-button;
	border-radius: 3px;
	overflow: hidden;
	padding: 1.5em;
	margin: 2.813em 0 0;

	.author-avatar {
		width: 16%;
		float: right;
		margin-left: 4%;

		.avatar {
			border-radius: 3px;
			float: right;
		}
	}

	.author-heading {
		clear: none;
		margin: 0 0 1em;
		width: 80%;
	}

	.author-title {
		text-align: left;
		margin: 0;
		clear: none;
		color: $color__text-main;
		font-family: $font__secondary;
		@include font-size(0.875);
		text-transform: uppercase;
		letter-spacing: 2px;

		.author-name {
			color: $color__link-alt;
			@include font-size(1.5);
			text-transform: capitalize;
			display: block;
			letter-spacing: 0px;
		}
	}

	.author-bio {
		margin-bottom: 0;
		overflow: hidden;
		width: 80%;
	}

	.author-link {
		display: block;
		margin-top: 1em;
		font-weight: 700;

		&:hover {
			color: $color__text-main;
		}
	}

	.author-description {
		> :last-child {
			margin-bottom: 0;
		}
	}
}

.has-cards {
	.entry-card {
		float: left;
		text-align: center;
		width: 100%;
		margin-bottom: 0.938em;

		.entry-title {
			font-family: $font__secondary;
			text-transform: uppercase;
			@include font-size(1);
			letter-spacing: 2px;
			padding: 1.125em 0 0.813em;
		}

		.post-thumbnail {
			margin-top: 0;
			margin-bottom: 0;

			img {
				border-radius: 3px;
			}

			a {
				display: block;
				@include transition(0.3s);

				&:hover {
					opacity: 0.7;
				}

				&.placeholder {
					width: 100%;
				}

				&.placeholder:before {
					background: $color__background-canvas;
					border-radius: 3px;
					content: "";
					display: block;
					padding-top: 66.66666%;
				}
			}
		}
	}

	.showcase-item {
		float: left;
		text-align: center;
		width: 100%;
		margin-right: 0;
		margin-bottom: 0.938em;

		.entry-title {
			font-family: $font__secondary;
			text-transform: uppercase;
			@include font-size(1);
			letter-spacing: 2px;
			padding: 1.125em 0 0.813em;
		}

		.entry-thumbnail {
			margin-bottom: 0;

			img {
				border-radius: 3px;
				display: block;
			}

			a {
				display: block;
				@include transition(0.3s);

				&:hover {
					opacity: 0.7;
				}

				&.placeholder {
					width: 100%;
				}

				&.placeholder:before {
					background: $color__background-canvas;
					border-radius: 3px;
					content: "";
					display: block;
					padding-top: 66.66666%;
				}
			}
		}
	}

	.entry-card-featured {
		width: 100%;
	}

	.page-title {
		text-align: center;
		margin-bottom: 1em;
	}

	.no-showcase-items {
		margin-bottom: 3em;
	}
}

.updated:not(.published){
	display: none;
}
